<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <script src="/js/dashboard/VueDashboard.js" type="module"></script>
    <script>
        document.channels = <%- JSON.stringify(channel_list) %>;
        document.users = <%- JSON.stringify(people_list) %>;
        document.roles = <%- JSON.stringify(roles_list) %>;
        document.timezone_data = <%- JSON.stringify(timezone_data) %>;
    </script>
</head>

<body class="black">
    <% include partials/header.ejs %>
    <div class="body-wrapper">
        <a class="guild-data waves-effect" href="/">
            <i class="material-icons return-icon">arrow_back</i>
            <i class="material-icons menu-icon">apps</i>
            <% if (guild_data.icon) {%>
            <img src="<%= cdn %>/icons/<%= guild_data.id %>/<%= guild_data.icon %>.png?size=64" alt=""
                class="right guild-icon">
            <% } %>
            <h5><%= guild_data.name %></h5>
        </a>
        <div href="/" class="guild-timezone waves-effect">
            <% include ../public/images/timezone.svg %>
            <h5 style="max-width: 80%;">
                <% if (guildTimezone) {%> 
                    <span>Timezone :</span> <%= guildTimezone%> 
                <% } else {%> 
                    <span>Timezone :</span>
                    No timezone has been set ! Default set to UTC 
                <% } %>
            </h5>
            <i class="material-icons forward-icon">arrow_forward</i>
        </div>
        <div class="crons">
            <table class="centered responsive-table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Channel</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    <% table.forEach(element => { %>
                    <tr id="<%= element.id %>" channel_id="<%= element.channel_id %>" type="<% if (element.cron) { %>schedule<% } else { %>timer<% } %>">
                            <td><%= element.description %></td>
                            <td>#<%= element.channel_name %></td>
                            <td class="message">
                                <div>
                                    <p class="description">
                                        <%= element.message %>
                                    </p>
                                    <div class="options">
                                        <i class="material-icons waves-effect edit">edit</i>
                                        <span class="divider"></span>
                                        <i class="material-icons waves-effect delete">delete</i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="fixed-action-btn">
        <button class="btn-floating btn-large grey darken-2 waves-effect waves-light timer-add-btn tooltipped"
            data-position="left" data-tooltip="One time message" style="margin-bottom: 13px;">
            <img src="/images/clock.svg" />
        </button>
        <button href="#!"
            class="btn-floating btn-large gery darken-2 waves-effect waves-light schedule-add-btn tooltipped"
            data-position="left" data-tooltip="Recurrent message">
            <img src="/images/calendar.svg" />
        </button>
    </div>
    <% include components/add_schedule_window.ejs %>
    <% include components/add_timer_window.ejs %>
    <% include components/edit_message_window.ejs %>
    <% include components/remove_message_window.ejs %>
    <% include components/set_timezone_window.ejs %>
    <% include components/options_window.ejs %>

</body>

</html>