<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body class="black">
    <% include partials/header.ejs %>
    <div class="body-wrapper">
        <h5>In which server do you wish do use ยก Spam-Bot ! ?</h5>
        <div class="guilds-wrapper">
            <% if (locals.guilds) { guilds.forEach((guild) => { %>
            <a class="guild waves-effect" id="<%= guild.id %>" <% if (!guild.added) { %>
                href="<%- bot_link %><%= guild.id %>" <% } else { %> href="/dashboard?id=<%= guild.id %>" <% } %>>
                <% if(guild.icon) { %>
                <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png?size=256">
                <% } else { %>
                <img src="/images/discord-base-icon.png">
                <% } %>
                <span>
                    <p><%= guild.name %> </p>
                </span>
                <% if (guild.added) { %>
                <i class="material-icons icon-arrow">arrow_forward</i>
                <% } else { %>
                <img class="icon-add" src="/images/iconeplus.png" style="width: 35px; height: auto;"></img>
                <% } %>
            </a>
            <% });} else { %>
            <h5><%= error %></h5>
            <% } %>
        </div>
    </div>
</body>

</html>